.every{
    display: flex;
}

.container {
    display: flex;
    gap: 25px;
    padding: 15px;
}

.user-element {
    cursor: pointer;
}

.user-element div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #c82d8e, #f99d4c);
}

.image-user-story {
    border: 2px solid var(--background);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

/* .container .add{
    border-radius: 60%;
    background: #40aef7;
} */

/* #green{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(12, 183, 55);
} */

.user-element span {
    max-width: 100%;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.seu-story{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}